In [1]:
import pandas as pd
import numpy as np

## Read csv from URL

In [2]:
csv_url = "https://raw.githubusercontent.com/seidelj/python-course/main/week8/prices.csv"
df = pd.read_csv(csv_url)
df.head()

   period  price  session  market
0       8      0  online6       1
1      10     14  online3       2
2       3     18  online6       1
3      10     23  online6       2
4      10     35  online5       1

In [4]:
df.sort_values(by=['session', 'market', 'period'], inplace=True)
df

     period  price  session  market
71        1    214  online1       1
44        2    164  online1       1
43        3    161  online1       1
55        4    187  online1       1
92        5    289  online1       1
..      ...    ...      ...     ...
191       6    806  online9       2
121       7    393  online9       2
118       8    388  online9       2
63        9    196  online9       2
131      10    429  online9       2

[200 rows x 4 columns]

### Summarizing Data

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 71 to 131
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   period   200 non-null    int64
 1   price    200 non-null    int64
 2   session  200 non-null    object
 3   market   200 non-null    int64
dtypes: int64(3), object(1)
memory usage: 7.8+ KB

In [6]:
df.describe()

           period        price      market
count  200.000000   200.000000  200.000000
mean     5.500000   354.365000    1.500000
std      2.879489   224.972587    0.501255
min      1.000000     0.000000    1.000000
25%      3.000000   178.500000    1.000000
50%      5.500000   324.500000    1.500000
75%      8.000000   496.000000    2.000000
max     10.000000  1121.000000    2.000000

In [8]:
df['session'].value_counts()

online1     20
online10    20
online2     20
online3     20
online4     20
online5     20
online6     20
online7     20
online8     20
online9     20
Name: session, dtype: int64

In [9]:
df['period'].value_counts()

1     20
2     20
3     20
4     20
5     20
6     20
7     20
8     20
9     20
10    20
Name: period, dtype: int64

In [10]:
df['market'].value_counts()

1    100
2    100
Name: market, dtype: int64

In [11]:
pd.pivot_table(df, columns='market', index='session', aggfunc="count")

         period     price
market        1   2     1   2
session
online1      10  10    10  10
online10     10  10    10  10
online2      10  10    10  10
online3      10  10    10  10
online4      10  10    10  10
online5      10  10    10  10
online6      10  10    10  10
online7      10  10    10  10
online8      10  10    10  10
online9      10  10    10  10

In [12]:
def get_fv(row):
    ev = 24
    remaining_pmts = 10-row['period'] + 1
    result = remaining_pmts * ev
    return result

In [15]:
df['fv'] = df.apply(get_fv, axis=1)
df

     period  price  session  market   fv
71        1    214  online1       1  240
44        2    164  online1       1  216
43        3    161  online1       1  192
55        4    187  online1       1  168
92        5    289  online1       1  144
..      ...    ...      ...     ...  ...
191       6    806  online9       2  120
121       7    393  online9       2   96
118       8    388  online9       2   72
63        9    196  online9       2   48
131      10    429  online9       2   24

[200 rows x 5 columns]