In [26]:
import os, csv
import random

In [27]:
print(os.getcwd())

/Users/student/helloworld

In [28]:
path1 = os.getcwd()
path2 = 'roster.csv'
csvFilePath = os.path.join(path1, path2)
print(csvFilePath)

/Users/student/helloworld/roster.csv

### Reading csv files

In [32]:
with open(csvFilePath, mode='r', newline='', encoding='utf-8-sig') as csvFile:
    reader = csv.reader(csvFile, delimiter=',')
    header = next(reader) 
    roster = []
    for row in reader:
        temp = {'name': row[0]}
        roster.append(temp)
    print(roster)

[{'name': 'Joe'}, {'name': 'Jihuan'}, {'name': 'Ali'}, {'name': 'Frances'}, {'name': 'Daniela V'}, {'name': 'Mostafa'}, {'name': 'Daniela P'}, {'name': 'Cesar'}, {'name': 'Jarrod'}, {'name': 'Austin'}, {'name': 'Jack'}, {'name': 'Ala'}, {'name': 'Sergii'}, {'name': 'Miles'}, {'name': 'Hyeyun'}, {'name': 'Volodymyr'}, {'name': 'Yijia'}, {'name': 'Hsin-Yun'}, {'name': 'Renata'}, {'name': 'Max'}, {'name': 'Joshua'}, {'name': 'David'}]

In [33]:
print(header)

['name']

### Modifying the Data

In [16]:
## Add someone who is missing
roster.append({'name': 'Wally'})
print(roster)

[{'name': 'Joe', 'grade': 97, 'lettergrade': 'B'}, {'name': 'Jihuan', 'grade': 112, 'lettergrade': 'B'}, {'name': 'Ali', 'grade': 97}, {'name': 'Frances', 'grade': 88, 'lettergrade': 'B'}, {'name': 'Daniela V', 'grade': 112, 'lettergrade': 'B'}, {'name': 'Mostafa', 'grade': 95, 'lettergrade': 'B'}, {'name': 'Daniela P', 'grade': 100}, {'name': 'Cesar', 'grade': 97}, {'name': 'Jarrod', 'grade': 97, 'lettergrade': 'B'}, {'name': 'Austin', 'grade': 100, 'lettergrade': 'B'}, {'name': 'Jack', 'grade': 83}, {'name': 'Ala', 'grade': 88}, {'name': 'Sergii', 'grade': 100}, {'name': 'Miles', 'grade': 106, 'lettergrade': 'B'}, {'name': 'Hyeyun', 'grade': 92, 'lettergrade': 'B'}, {'name': 'Volodymyr', 'grade': 102, 'lettergrade': 'B'}, {'name': 'Yijia', 'grade': 83, 'lettergrade': 'B'}, {'name': 'Hsin-Yun', 'grade': 89}, {'name': 'Renata', 'grade': 95, 'lettergrade': 'B'}, {'name': 'Max', 'grade': 117, 'lettergrade': 'B'}, {'name': 'Joshua', 'grade': 97}, {'name': 'David', 'grade': 98}, {'name': 'Wally', 'grade': 80, 'lettergrade': 'B'}, {'name': 'Wally'}]

Assign grades

In [17]:
import random
random.seed(1)

In [18]:
for student in roster:
    student['grade'] = random.randint(0,100)
    print(student)

{'name': 'Joe', 'grade': 17, 'lettergrade': 'B'}
{'name': 'Jihuan', 'grade': 72, 'lettergrade': 'B'}
{'name': 'Ali', 'grade': 97}
{'name': 'Frances', 'grade': 8, 'lettergrade': 'B'}
{'name': 'Daniela V', 'grade': 32, 'lettergrade': 'B'}
{'name': 'Mostafa', 'grade': 15, 'lettergrade': 'B'}
{'name': 'Daniela P', 'grade': 63}
{'name': 'Cesar', 'grade': 97}
{'name': 'Jarrod', 'grade': 57, 'lettergrade': 'B'}
{'name': 'Austin', 'grade': 60, 'lettergrade': 'B'}
{'name': 'Jack', 'grade': 83}
{'name': 'Ala', 'grade': 48}
{'name': 'Sergii', 'grade': 100}
{'name': 'Miles', 'grade': 26, 'lettergrade': 'B'}
{'name': 'Hyeyun', 'grade': 12, 'lettergrade': 'B'}
{'name': 'Volodymyr', 'grade': 62, 'lettergrade': 'B'}
{'name': 'Yijia', 'grade': 3, 'lettergrade': 'B'}
{'name': 'Hsin-Yun', 'grade': 49}
{'name': 'Renata', 'grade': 55, 'lettergrade': 'B'}
{'name': 'Max', 'grade': 77, 'lettergrade': 'B'}
{'name': 'Joshua', 'grade': 97}
{'name': 'David', 'grade': 98}
{'name': 'Wally', 'grade': 0, 'lettergrade': 'B'}
{'name': 'Wally', 'grade': 89}

In [19]:
def compute_mean(values):
    n = len(values)
    result = sum(values)/n
    return result

In [20]:
grades = []
for student in roster:
    grade = student['grade']
    grades.append(grade)

print(grades)

[17, 72, 97, 8, 32, 15, 63, 97, 57, 60, 83, 48, 100, 26, 12, 62, 3, 49, 55, 77, 97, 98, 0, 89]

In [21]:
mean = compute_mean(grades)
print(mean)

54.875

Edit a specific row/student

In [22]:
for student in roster:
    if student['name'] == 'Daniela P':
        student['grade'] = 100
        
print(roster)

[{'name': 'Joe', 'grade': 17, 'lettergrade': 'B'}, {'name': 'Jihuan', 'grade': 72, 'lettergrade': 'B'}, {'name': 'Ali', 'grade': 97}, {'name': 'Frances', 'grade': 8, 'lettergrade': 'B'}, {'name': 'Daniela V', 'grade': 32, 'lettergrade': 'B'}, {'name': 'Mostafa', 'grade': 15, 'lettergrade': 'B'}, {'name': 'Daniela P', 'grade': 100}, {'name': 'Cesar', 'grade': 97}, {'name': 'Jarrod', 'grade': 57, 'lettergrade': 'B'}, {'name': 'Austin', 'grade': 60, 'lettergrade': 'B'}, {'name': 'Jack', 'grade': 83}, {'name': 'Ala', 'grade': 48}, {'name': 'Sergii', 'grade': 100}, {'name': 'Miles', 'grade': 26, 'lettergrade': 'B'}, {'name': 'Hyeyun', 'grade': 12, 'lettergrade': 'B'}, {'name': 'Volodymyr', 'grade': 62, 'lettergrade': 'B'}, {'name': 'Yijia', 'grade': 3, 'lettergrade': 'B'}, {'name': 'Hsin-Yun', 'grade': 49}, {'name': 'Renata', 'grade': 55, 'lettergrade': 'B'}, {'name': 'Max', 'grade': 77, 'lettergrade': 'B'}, {'name': 'Joshua', 'grade': 97}, {'name': 'David', 'grade': 98}, {'name': 'Wally', 'grade': 0, 'lettergrade': 'B'}, {'name': 'Wally', 'grade': 89}]

In [23]:
for student in roster:
    if student['grade'] > 10 and student['grade'] < 80 :
        #student['grade'] = student['grade'] + 40
        student['lettergrade'] = 'B'
    print(student)

{'name': 'Joe', 'grade': 17, 'lettergrade': 'B'}
{'name': 'Jihuan', 'grade': 72, 'lettergrade': 'B'}
{'name': 'Ali', 'grade': 97}
{'name': 'Frances', 'grade': 8, 'lettergrade': 'B'}
{'name': 'Daniela V', 'grade': 32, 'lettergrade': 'B'}
{'name': 'Mostafa', 'grade': 15, 'lettergrade': 'B'}
{'name': 'Daniela P', 'grade': 100}
{'name': 'Cesar', 'grade': 97}
{'name': 'Jarrod', 'grade': 57, 'lettergrade': 'B'}
{'name': 'Austin', 'grade': 60, 'lettergrade': 'B'}
{'name': 'Jack', 'grade': 83}
{'name': 'Ala', 'grade': 48, 'lettergrade': 'B'}
{'name': 'Sergii', 'grade': 100}
{'name': 'Miles', 'grade': 26, 'lettergrade': 'B'}
{'name': 'Hyeyun', 'grade': 12, 'lettergrade': 'B'}
{'name': 'Volodymyr', 'grade': 62, 'lettergrade': 'B'}
{'name': 'Yijia', 'grade': 3, 'lettergrade': 'B'}
{'name': 'Hsin-Yun', 'grade': 49, 'lettergrade': 'B'}
{'name': 'Renata', 'grade': 55, 'lettergrade': 'B'}
{'name': 'Max', 'grade': 77, 'lettergrade': 'B'}
{'name': 'Joshua', 'grade': 97}
{'name': 'David', 'grade': 98}
{'name': 'Wally', 'grade': 0, 'lettergrade': 'B'}
{'name': 'Wally', 'grade': 89}

In [13]:
# list comprehensions
grades = [student['grade'] for student in roster]
print(grades)

[57, 72, 97, 48, 72, 55, 100, 97, 57, 60, 83, 88, 100, 66, 52, 62, 43, 89, 55, 77, 97, 98, 40]

In [33]:
average = compute_mean(grades)
print(average)

72.3913043478261